<!--renderさせたい箇所に下記を記載するとresourceに@変数が代入される-->
<!--<div id="error">-->
  <!--%= render "layouts/error_messages", resource: @変数 %>-->
<!--</div>-->

<% if resource.errors.any? %>
  <div id="error_explanation">
    
    <h3><%= resource.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>