<div class="container">
 <div class="row">

  <div class="col-xs-3">
    <!--ジャンル検索-->
  </div>


  <div class="col-xs-9">
    <h3>
    ようこそ、NaganoCakeへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧は商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
   </h3>
  </div>

 </div>
</div>